<div style="height: 100%">
  <div fxLayout="column" style="height: 100%">
   
        <md-toolbar fxFlex="10" color="primary">
            <span>Application Title</span>
          
            <!-- This fills the remaining space of the current row -->
            <span class="example-fill-remaining-space"></span>
          
            <span>Right Aligned Text</span>
          </md-toolbar>
    <div fxFlex style="background-color: red; overflow: auto">
      <router-outlet ></router-outlet>
    </div>
    <div fxFlex="10" style="background-color: green">Footer</div>
</div>
</div>