<div style="height: 100%">
  <div fxLayout="column" style="height: 100%">
   
        <md-toolbar fxFlex="10" color="primary">
            <span>Mind Studio</span>
          
            <!-- This fills the remaining space of the current row -->
            <span class="example-fill-remaining-space"></span>
          
            <span (click)="openDialog()"><i class="fa fa-user-circle" aria-hidden="true"></i></span>
          </md-toolbar>
    <div fxFlex="80" style="overflow: auto">
      <router-outlet ></router-outlet>
     
    </div>
    <div fxFlex class="footer">
      
<div fxLayout="column" fxLayoutAlign="center center" >
      <div fxLayout="row" fxLayoutAlign="center">
          <p fxFlex>The application is being developed and maintained at Github</p>
          <i fxFlex="3" fxFlex.xs="10" class="fa fa-github fa-2x" aria-hidden="true"></i>
      </div>
      <div>
        <div id="sfcplgfx7w8ja2fxf15etlbjtcgnm9cyex4"></div><script type="text/javascript" src="https://counter9.freecounter.ovh/private/counter.js?c=plgfx7w8ja2fxf15etlbjtcgnm9cyex4&down=async" async></script><noscript><a href="https://www.freecounterstat.com" title="website counters"><img src="https://counter9.freecounter.ovh/private/freecounterstat.php?c=plgfx7w8ja2fxf15etlbjtcgnm9cyex4" border="0" title="website counters" alt="website counters"></a></noscript><a href="https://www.freecounterstat.com" title="website counters"><img src="https://counter9.freecounter.ovh/private/freecounterstat.php?c=plgfx7w8ja2fxf15etlbjtcgnm9cyex4" border="0" title="website counters" alt="website counters"></a>
      </div>
</div>
    </div>
    <user-info-dialog [hidden]="true"></user-info-dialog>
</div>

</div>
